- @list.each do |list|
  %h1
    = link_to list.name, list_path(url_slug: list.url_slug)
    %small # todos: #{list.todos.length}

= form_for List.new do |f|
  = f.text_field :name, placeholder: 'List name'
  = f.submit 'Add new list'
